@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #0d9488;
  --color-primary-hover: #0f766e;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply antialiased text-gray-800 bg-warm-50;
}
